node_modules/
/dist/

*.ipch
*.db*
*.opendb

*.mp4
*.jdb
*.txt
*.exe
*.avi
*.h264
*.fmp4
db/


*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json

tds.lib
tds.exe
*.exp
*.ilk
*.log
*.pdb
*.idb
*.tlog
Debug/
Release/
OBJ/