node_modules/
/dist/
threejs/
out/conf/
.vs/x64/
.vs/Debug/
.vs/Release/
7-Zip/
localStorage/

publish/
front_end/

*.obj
*.aps
*.ipch
*.db*
*.opendb

*.webm
*.mp4
*.jdb
*.txt
*.exe
*.avi
*.h264
*.fmp4
*.glb
*.gltf
db/


*.suo
*.ntvs*
*.njsproj
package-lock.json

tds.lib
tds.exe
tds.dll
*.exp
*.ilk
*.log
*.pdb
*.idb
*.tlog
Debug/
Release/
OBJ/